<div id="<%= dom_id channel %>">
  <p>
    <strong>Server:</strong>
    <%= channel.server_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= channel.name %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= channel.topic %>
  </p>

  <p>
    <strong>Channel type:</strong>
    <%= channel.channel_type %>
  </p>

</div>
