<div id="<%= dom_id membership %>">
  <p>
    <strong>User:</strong>
    <%= membership.user_id %>
  </p>

  <p>
    <strong>Server:</strong>
    <%= membership.server_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= membership.role %>
  </p>

  <p>
    <strong>Joined at:</strong>
    <%= membership.joined_at %>
  </p>

</div>
