<div id="<%= dom_id server %>">
  <p>
    <strong>Name:</strong>
    <%= server.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= server.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= server.public %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= server.icon %>
  </p>

</div>
